<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ado.edu.pucmm.rancherasystem">

    <application
        android:name=".RanchApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ranchera"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.ClientInformationActivity"></activity>
        <activity
            android:name=".ui.activity.MenuActivity"
            android:label="@string/ranchera"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ado.edu.pucmm.rancherasystem.ui.activity.MainActivity" />
        </activity>
        <activity android:name=".ui.activity.BillDetailActivity" />
        <activity android:name=".ui.activity.ListOfBills" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/ranchera"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.DashBoardActivity" />
        <activity
            android:name=".ui.activity.ForgotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.SupportActivity" />
        <activity
            android:name=".ui.activity.ConfirmacionOrden"
            android:label="Ranchera"
            android:parentActivityName=".ui.activity.OrderSummaryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.OrderSummaryActivity" />
        </activity>
        <activity
            android:name=".ui.activity.OrderSummaryActivity"
            android:label="Ranchera"
            android:parentActivityName=".ui.activity.SelectProductsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SelectProductsActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SelectProductsActivity"
            android:label="Ranchera"
            android:parentActivityName=".ui.activity.SelectClientActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SelectClientActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SearchProductActivity"
            android:label="Ranchera"
            android:parentActivityName=".ui.activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MenuActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SelectClientActivity"
            android:label="@string/ranchera"
            android:parentActivityName=".ui.activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MenuActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SearchClientActivity"
            android:label="@string/ranchera"
            android:parentActivityName=".ui.activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MenuActivity" />
        </activity>
        <activity android:name=".ui.activity.HelpRequestActivity" />
        <activity android:name=".ui.activity.PagarFacturaActivity" />
        <activity android:name=".ui.activity.PagoFacturaActivity" />
    </application>

</manifest>