<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ado.edu.pucmm.rancherasystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ranchera"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="FlujoClientes_Productos"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConsultarCliente"/>
        <activity android:name=".Productos" />
        <activity android:name=".DashBoardActivity" />
        <activity android:name=".ForgotActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SupportActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ConfirmacionOrdenActivity"
            android:label="Ranchera"
            android:parentActivityName=".ResumenOrdenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ResumenOrdenActivity" />
        </activity>
        <activity
            android:name=".ResumenOrdenActivity"
            android:label="Ranchera"
            android:parentActivityName=".ProductoOrdenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductoOrdenActivity" />
        </activity>
        <activity
            android:name=".ProductoOrdenActivity"
            android:label="Ranchera"
            android:parentActivityName=".ClientesOrdenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClientesOrdenActivity" />
        </activity>
        <activity
            android:name=".ClientesOrdenActivity"
            android:label="@string/ranchera"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>
</manifest>